$button-default-background-color: rgba(245,245,245,1);
$button-default-background-color-disabled: rgba(245,245,245,1);
$button-default-background-color-focus: rgba(216,216,216,1);
$button-default-background-color-over: rgba(216,216,216,1);
$button-default-background-color-pressed: rgba(176,176,176,1);
$button-default-base-color: rgba(102,102,102,1);
$button-default-base-color-disabled: rgba(102,102,102,1);
$button-default-base-color-over: rgba(102,102,102,1);
$button-default-base-color-pressed: rgba(216,216,216,1);
$button-default-border-color: rgba(216,216,216,1);
$button-default-border-color-disabled: rgba(225,225,225,1);
$button-default-border-color-focus: rgba(237,237,237,1);
$button-default-border-color-over: rgba(239,239,239,1);
$button-default-border-color-pressed: rgba(216,216,216,1);
$button-default-color: rgba(102,102,102,1);
$button-default-color-disabled: rgba(102,102,102,1);
$button-default-color-focus: rgba(102,102,102,1);
$button-default-color-over: rgba(102,102,102,1);
$button-default-color-pressed: rgba(102,102,102,1);
$button-default-glyph-color: rgba(102,102,102,1);
$button-large-font-weight: normal;
$button-medium-font-weight: normal;
$button-toolbar-background-color: rgba(245,245,245,1);
$button-toolbar-background-color-disabled: rgba(245,245,245,1);
$button-toolbar-background-color-focus: rgba(216,216,216,1);
$button-toolbar-background-color-over: rgba(216,216,216,1);
$button-toolbar-background-color-pressed: rgba(182,176,176,1);
$button-toolbar-border-color-disabled: rgba(225,225,225,1);
$button-toolbar-color-disabled: rgba(102,102,102,1);
$button-toolbar-glyph-color: rgba(102,102,102,1);
$base-color: rgba(74,172,255,1);
$base-dark-color: rgba(74,172,255,1);
$base-highlight-color: rgba(84,166,233,1);
$color: rgba(0,0,0,1);
$font-family: Open Sans;
$font-size: 13.25px;
$btn-group-background-color: #ededed;
$btn-group-border-color: rgba(228,216,216,1);
$btn-group-framed-background-color: rgba(237,237,237,1);
$btn-group-inner-border-color: #e4d8d8;
$form-field-border-color: rgba(171,171,171,1);
$form-field-border-style: "";
$form-field-color: rgba(111,111,111,1);
$form-field-focus-border-color: rgba(6,6,6,1);
$fieldset-border-color: rgba(223,223,225,1);
$fieldset-border-style: "";
$fieldset-header-font: $font-family;
$fieldset-header-font-weight: none;
$grid-column-header-border-style: "";
$grid-column-header-border-width: 0px;
$grid-column-header-color: rgba(0,0,0,1);
$grid-column-header-font-weight: 10px;
$grid-column-header-line-height: 10px;
$grid-header-background-color: rgba(255,255,255,1);
$grid-header-border-color: rgba(127,185,233,1);
$grid-header-border-width: 0px;
$border-layout-ct-background-color: rgba(249,250,250,1);
$loadmask-background-color: #e5e5e5;
$loadmask-msg-background-color: rgba(255,255,255,1);
$menu-item-active-border-color: rgba(229,240,248,1);
$panel-base-color: rgba(74,172,255,1);
$panel-body-border-color: rgba(74,172,255,1);
$panel-border-color: rgba(96,172,233,1);
$panel-border-width: 0px;
$panel-frame-base-color: rgba(70,171,254,1);
$panel-frame-border-color: rgba(126,190,242,1);
$panel-frame-border-style: normal;
$panel-frame-border-width: 1px;
$panel-frame-header-inner-border-color: rgba(70,171,254,1);
$panel-frame-header-padding: 2px;
$panel-header-background-color: rgba(52,161,251,1);
$panel-header-background-gradient: "";
$panel-header-color: rgba(242,246,249,1);
$panel-header-font-family: DejaVu Sans, arial, helvetica, verdana, sans-serif;
$panel-header-font-weight: none;
$panel-header-glyph-opacity: 0;
$panel-header-inner-border-color: rgba(211,211,211,1);
$panel-header-padding: 9px 9px 10px 9px;
$panel-light-header-color: rgba(255,255,255,1);
$panel-light-header-font-weight: none;
$panel-wrap-border-color: rgba(209,226,241,1);
$grid-body-background-color: rgba(255,255,255,1);
$grid-body-border-color: rgba(101,185,255,1);
$grid-cell-selected-background-color: rgba(50,38,38,1);
$grid-cell-selected-color: rgba(50,38,38,1);
$grid-cell-special-border-color: rgba(53,53,53,1);
$grid-empty-color: rgba(244,242,242,1);
$grid-row-cell-alt-background-color: rgba(255,255,255,1);
$grid-row-cell-border-color: rgba(251,251,251,1);
$grid-row-cell-border-style: "";
$grid-row-cell-focus-border-style: normal;
$grid-row-cell-over-border-style: normal;
$grid-row-cell-over-color: rgba(50,38,38,1);
$grid-row-cell-selected-background-color: rgba(228,239,248,1);
$grid-row-cell-selected-border-color: rgba(228,239,248,1);
$grid-row-cell-selected-border-style: "";
$grid-row-cell-selected-color: rgba(50,38,38,1);
$tabbar-base-color: rgba(255,255,255,1);
$tab-base-color: rgba(70,171,254,1);
$tab-base-color-active: rgba(229,243,254,1);
$tab-color: rgba(255,255,255,1);
$tab-font-size: 11px;
$tab-glyph-color: rgba(255,255,255,1);
$tab-padding: 3px 12px 7px;
$toolbar-border-color: rgba(255,255,255,1);
$toolbar-border-width: 0px;
$toolbar-footer-background-color: rgba(255,255,255,1);
$window-body-border-width: 0;
$window-header-line-height: 30px;