.filter-row-grid .x-grid3-header {
    background: #f9f9f9 url(/assets/filter-row-hrow.gif) repeat-x left top;
}

.filter-row-grid .filter-row-header {
    height: 26px;
}

table.right1 input {
    background-image: url(/assets/right1.png);
    background-repeat: no-repeat;
    color: white;
    padding-left: 18px;
}

table.wrong input {
    background-image: url(/assets/wrong.png);
    background-repeat: no-repeat;
    color: white;
    padding-left: 18px;
}

table.play input {
    background-image: url(/assets/play.png);
    background-repeat: no-repeat;
    padding-left: 16px;
    color: white;
    padding-left: 18px;
}

table.no-image input {
    background-image: none;
}

